@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0 auto;
}

/* shared styles  */
.logo-text,
.navbar,
.nav-links,
.banner,
.curriculam-cards,
.arrows {
    display: flex;
}

.btn-primary {
    padding: .8rem 2.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: .7rem;
    color: white;
    border: none;
}

.special-btn {
    padding: .5rem 1rem;
    border-radius: 1.1rem;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    /* margin-top: -12%; */
    margin-left: 3rem;
}

.primary-color-bg {
    background: rgb(254, 163, 1);
}

.primary-color {
    color: rgb(254, 163, 1);
}

.secondary-color {
    color: black;
}

.secondary-color-bg {
    background-color: black;
}

.tertiary-color {
    color: rgb(1, 172, 253);
}

.read-more-color1 {
    color: rgb(100, 200, 255);
}

.read-more-color2 {
    color: rgb(240, 170, 0);
}

.read-more-color3 {
    color: rgb(135, 0, 255);
}

.card {
    height: 25rem;
    width: 19rem;
    text-align: center;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 1.1rem;

}

.card-image {
    height: 35%;
    width: 35%;
}

.card-title {
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 2rem;
}

.card-text {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3rem;
    margin-top: 1.5rem;
}

.card-btn {
    padding: .7rem 1.7rem;
    margin-top: 1rem;
    background: white;
    border-radius: .5rem;
    border: none;
    font-size: .9rem;
    font-weight: 700;
}


/* navbar related styles  */
ul>li {
    list-style: none;
    margin-left: 1rem;
    font-weight: 500;
    font-size: 1.3rem;
}

.navbar {
    margin-top: 2rem;
    align-items: center;

}

.logo-text {
    align-items: center;
}

/* banner related style  */
.banner {
    max-width: 84%;
    margin-top: 3rem;
    padding: 2rem;

}

.banner-title {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    margin-top: 7rem;
}

.banner-text {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.banner-texts {
    align-items: center;
}

/* curriculam related styles  */
.curriculam {
    background-image: url('./assets/bg.png');
    
    padding-top: 2.5rem;
    max-width: 84%;
    margin-top: 3rem;
    padding: 2rem;
}

.curriculam-title {
    font-weight: 700;
    font-size: 2.8rem;
    text-align: center;

}

.curriculam-cards {
    margin-top: 4rem;
}

.card-1 {
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-2 {
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(255, 244, 220), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.card-3 {
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

.arrows {
    margin-top: 3rem;
    height: 4rem;
    width: 6rem;
}

.arrow {
    padding: .7rem .7rem;
    border-radius: 50%;
    border: none;
}
/* our-stories related style  */
.our-stories{
   
    background: url('./assets/bg.png'),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}
.our-section-card {
    border-radius: 1rem;
    background: rgb(255, 255, 255);
    width: 17.5rem;
    height: 18.5rem;
    background-color: aqua;
}

.our-section-card-img {
    height: 50%;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.our-section-card > h2 {
    padding: 0rem 1rem;
    font-size: 1rem;
}
.gg{
    margin-top: -1rem;
}
.our-section-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.4rem;
     max-width: 75%;
    margin-top: 3rem;
    padding: 2rem;
}
.our-stories-main-title{
    margin-bottom: 4rem;
}